<div>
  <h1>Cars management</h1>
  <table border="1" *ngIf="availableRegistres(); else NoCarsAvailable">
    <tr>
      <td>ID</td><td>Description</td><td>Price</td><td>Delete</td><td>Select</td>
    </tr>
    <tr *ngFor="let car of cars">
      <td>{{car.id}}</td>
      <td>{{car.descriprion}}</td>
      <td>{{car.price}}</td>
      <td><button (click)="shutDown(car.id)">Delete</button></td>
      <td><button (click)="select(car.id)">Select</button></td>
    </tr>
  </table>
  <ng-template #NoCarsAvailable><p>Available cars are empty</p></ng-template>
  <div>
    <p>
      Description: <input type="text" [(ngModel)]="car.description">
    </p>
    <p>
      Price: <input type="number" [(ngModel)]="car.price">
    </p>
    <p>
      <button (click)="register()">Add car</button>
      <button (click)="modify()">Modify car info</button>
    </p>
  </div>
</div>